# Python virtual environment
venv/
env/
.venv/

# Byte-code files
*.pyc
__pycache__/

# Distribution / build files
.Python
build/
dist/
*.egg-info/
.eggs/

# IDE-specific files (common examples)
.idea/
.vscode/
*.swp
*.bak
*.swo

# OS-specific files
# macOS
.DS_Store

# Test/cache directories
.pytest_cache/
.mypy_cache/

# Logs and databases
*.log
*.sqlite3
!sample.sqlite3
*.db-shm
*.db-wal
*.sqlite3-journal

# Environment variables
.env
